$white: #FFFFFF;
$main-color: #1F1F1F;
$secondary-color: #303030;
$primary-400: #00B3FF;
$primary-500: #0096D6;
$primary-600: #007DB3;
$primary-700: #006793;
$gray-scale-color-700: #3D4A6C;
$gray-scale-color: #F7F9FC;
$gray-7-color: #8C8C8C;
$hint-color: #A0AABB;
$danger-color: #EB5757;

$site-layout-margin: 50px;
$border-color: #E4E9F2
